snippet pe
<%= $1 %>
endsnippet

snippet p
<% $1 %>
endsnippet

snippet end
<% end %>
endsnippet

snippet div
<div class="$1">
  $2
</div>
endsnippet

snippet if
<% if $1 %>
  $2
<% end %>
endsnippet

snippet else
<% else %>
endsnippet

snippet elsif
<% elsif $1 %>
endsnippet

