snippet pe
<%= $1 %>
endsnippet

snippet p
<% $1 %>
endsnippet

snippet div
<div>
  $1
</div>
endsnippet

snippet divc
<div class="$1">
  $2
</div>
endsnippet

snippet else
<% else %>
endsnippet

snippet end
<% end %>
endsnippet
